
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #0056b3; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.btn {
  background-color: white;
  color: #0056b3;
  padding: 12px 25px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #003f80;
  color: white;
}

